body {
  font: 100%/1.5 system-ui;
  /* max-width: 100ch; */
  margin-inline: auto auto;
  padding: 1em;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-gray);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.5em;
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

body h2 {
  margin-top: 2rem;
}

body p {
  text-align: justify;
  text-justify: inter-word;
}

body p a {
  text-align: justify;
  text-justify: inter-word;
  color: #0645ad;
  text-decoration: none;
}

body p a:hover {
  text-decoration: underline;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 102.5%;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #111;
}

img.description {
  margin-top: 2em;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  flex: 1 1 200px;
  max-width: 250px;
}

.caption {
  font-weight: bold;
  margin-bottom: 10px;
  min-height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.projects {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-template-rows: subgrid;
  padding: 1em 2em;
}

.projects article {
  text-align: center;
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
  text-align: center;
}

:root {
  --color-accent: oklch(43.72% 0.1676 27.84);
  --border-gray: oklch(80% 3% 200);
}
