body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #991212;
  color: #fff;
  padding: 1rem;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

main h2 {
  margin-top: 2rem;
}

main a {
  color: #0645ad;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main p {
  text-align: justify;
  text-justify: inter-word;
}

main p a {
  text-align: justify;
  text-justify: inter-word;
  color: #0645ad;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #991212;
  color: #fff;
  position: absolute;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 102.5%;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #111;
}

.projects {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-template-rows: subgrid;
  padding: 1em 2em;
  article {
    text-align: center;
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
  }
}
